@model Tactsoft.Core.Entities.Student

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">Employee Details</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.StudentName)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.StudentName)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.StudentEmail)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.StudentEmail)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.StudentPhone)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.StudentPhone)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.GenderId)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.GenderId)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateOfBirth)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.DateOfBirth)
                        </dd>
                        <dt class="col-md-3">
                            Education
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayNameFor(model => model.Ssc)
                            @Html.DisplayFor(model => model.Ssc)
                            @Html.DisplayNameFor(model => model.Hsc)
                            @Html.DisplayFor(model => model.Hsc)
                            @Html.DisplayNameFor(model => model.Bsc)
                            @Html.DisplayFor(model => model.Bsc)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Country.Name)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.State)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.State.Name)
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.City.Name)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Picture)
                        </dt>
                        <dd class="col-md-9">
                            <img src="~/images/students/@Html.DisplayFor(model => model.Picture)" alt="Image" width="200" class="img-thumbnail" />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">

                <a class="btn btn-outline-danger btn-sm mr-2" asp-action="Index">
                    <i class="far fa-window-close"></i> Cancel
                </a>
                <a class="btn btn-outline-primary btn-sm me-3" href="javascript:EditStudent(@Model.Id)">
                    <i style="color:green" class="fa-regular fa-pen-to-square"></i> Edit
                </a>
            </div>
        </div>
    </div>
</div>

